<template name="taskSubmit">
	<form class="main form page">
		<div class="form-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" id="title" type ="text" value="" placeholder="Name your task" class="form-control">
			</div>
		</div>	
		<div class="form-group">
			<label class="control-label" for="description">Description</label>
			<input name="description" id="description" type ="text" value="" placeholder="Describe your task" class="form-control">
		</div>
		<div class="form-group">
			<label class="control-label" for="deadline">Deadline</label>
			<div class="input-group datetimepicker">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    <input name="deadline" id="deadline" class="set-due-date form-control" type="text"/>
		  </div>
		</div>
		<div class="form-group">
			<label class="control-label" for="points">Points</label>
			<input name="points" id="points" type ="number" min="0" max="100" value="" placeholder="Points for this task" class="form-control">
		</div>
		<input type="submit" value="Submit" class="btn btn-primary">
	</form>
</template>