<template name="unallocatedTask">
		<div class="well task">
			<h3>{{title}}</h3>
			<button type="button" class="close close-task" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
			<button class="btn btn-default pull-right" id="takeTask">Take task</button>
			<p>{{description}}</p>
			<p><strong>{{pluralize points "point"}}</strong></p>	
			<p>Added by {{author}} on {{submitted}}</p>
			<p>Deadline on {{deadline}}</p>
		</div>
</template>