body { padding-top: 50px; font-family: Lato; }

p {
	font-size: 18px;
}

#services {
	padding: 65px;
}
#contact {
	padding-bottom: 100px;
}

.primary {
	width: 400px;
	border-top: 1px solid  #1a75ff;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#header {
	width: 100%;
	height: 100%;
	padding: 8%;
	background: url(home.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	background-repeat: no-repeat;
}

#content {
	text-align: center;
	padding-top: 14%;
	padding-bottom: 13%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

#content h1 {
	font-weight: 700;
	font-size: 5em;
	color: white;
}

#content hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}